In [8]:
import pandas as pd
import glob

In [9]:
path = r'*.gz'
folder = glob.glob(path)

for file in folder:
    print(file)

calendar.csv.gz
listings.csv.gz
reviews.csv.gz

In [13]:
calendar_df = pd.read_csv('calendar.csv.gz', compression='gzip')
listings_df = pd.read_csv('listings.csv.gz', compression='gzip')
reviews_df = pd.read_csv('reviews.csv.gz', compression='gzip')

C:\Users\jcoet\AppData\Local\conda\conda\envs\mine\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (43) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
calendar_df.head()

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,3191,2019-07-21,f,$544.00,$544.00,3.0,730.0
1,302227,2019-07-20,f,$556.00,$556.00,360.0,360.0
2,302227,2019-07-21,f,$556.00,$556.00,360.0,360.0
3,302227,2019-07-22,t,$556.00,$556.00,360.0,360.0
4,302227,2019-07-23,t,$556.00,$556.00,360.0,360.0

In [15]:
calendar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8429758 entries, 0 to 8429757
Data columns (total 7 columns):
listing_id        int64
date              object
available         object
price             object
adjusted_price    object
minimum_nights    float64
maximum_nights    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 450.2+ MB